<section class="product-container">
  <article class="product">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" />
    <h2>Galaxy S10</h2>
  </article>

  <article class="product">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" />
    <h2>Galaxy S10</h2>
  </article>

  <article class="product">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" />
    <h2>Galaxy S10</h2>
  </article>
</section>
