<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Mercado Liebre Login</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href = "/css/normalize.css" rel = "stylesheet">
  <link href = "/css/styles.css" rel = "stylesheet">  
</head>

<body>
  <form action="/" method="GET">
    <div>
      <label for ="user">Nombre de Usuario:</label>
      <input type="text" name="user" id ="user">
    </div>
    
    <div>
      <label for="pwd">Password:</label>
      <input type="password" name="pwd" id="pwd">
    </div>
    <button type="submit">Enviar</button>
    
  </form>


</body>
</html>