.logear-usuario {
    margin: 25px auto;
}
.logear-usuario button {
    width: 100%;
    color: #fff;
    background-color: #1259c3;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.5s;
}

.logear-usuario button:hover {
    background-color: #0022AA;
}





.product h2 {
    position: absolute;
    left:0;
    top:0;
    padding: 5px 10px;
    font-size: 24px;
    width: 100%;
    background-color:rgba(102,102,102,0.7);
    color: #ebebeb;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}


@media (min-width: 460px) {
    main section {
    display: block;
    }
    .logear-usuario {
        width: 80%;
        }
}

@media (min-width: 768px) {
    .logear-usuario {
        width: 66.6%;
        margin: 25px 
        auto;
    }

   

   
}