
.banner img {
    max-width: 100%;
    
}

main {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

.precios, 
.descripciones {
    font-size: 18px;
}

.precio-descuento {
    display: flex;
    align-items: baseline;
    gap:10px;
    
}

.precios {
    width: 30%;
}

.descuentos {
    flex-grow: 1;
   
}

header h4{
    text-align: center;
}

section {
    margin-top: 20px;
}

article {
    margin-top: 10px;
    text-align: center;
    background-color: #FFF;      
}

.product-info i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product-info {
    position: relative;
}
img {
    width: 100%;
}

.product-info {
    color: green;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
    background-color: white;
}

.precios {
    color:#000;
}

.descripciones {
    color: grey;
    opacity: 0;
    display: none;
}

.product-info i {
    transition: all 1s;
}
.product-info i:hover{
    transform: rotate(-90deg)
}


@media (min-width:460px) {

    .descripciones {
        transition: all 1s;
        transition: display 1s;
        
    }

    article {
        transition: all 0.5s;
        
    }

    article:hover .descripciones{
        opacity: 1;
        display: initial;
          
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section article {
        flex-basis: 49%;
    }

    main h3 {
        text-align: left;
    }

    .descuentos {
        text-align: center;
    }


}

@media (min-width:768px) {
    main section article {
        flex-basis: 24%;
    }
    .precio-descuento {
        justify-content: space-between;
    }
    .descuentos {
        text-align: right;
    }

}

@media (min-width:1200px) {
    main {
        max-width: 1200px;
        margin: auto;
    }

    .descuentos {
        text-align: left;
    }

}