<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ('../partials/head') %>
    <link href="/css/styles_register.css" rel="stylesheet" />
    <link href="/css/styles_login.css" rel="stylesheet" />
  </head>

  <!--Header-->
  <%- include ('../partials/header') %>

  <body>
    <main>
      <section class="logear-usuario">
        <form action="/" method="GET">
          <div class="input-container">
            <input
              type="text"
              name="user"
              id="user"
              placeholder="Nombre de Usuario"
              minlength="6"
              required
            />
          </div>

          <div class="input-container">
            <input
              type="password"
              name="pwd"
              id="pwd"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit">Enviar</button>
        </form>
      </section>

      <section class="product-container">
        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>

        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>

        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>
      </section>
    </main>
    <!--Footer-->
    <%- include ('../partials/footer') %>
  </body>
</html>
