<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ('../partials/head') %>
    <link href="/css/styles_register.css" rel="stylesheet" />
  </head>
  <body>
    <!--Header-->
    <%- include ('../partials/header') %>

    <main>
      <section class="registrar-usuario">
        <form action="/" method="GET">
          <div class="input-container">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Nombre y Apellido"
            />
          </div>

          <div class="input-container">
            <input
              type="text"
              name="user"
              id="user"
              placeholder="Nombre de Usuario"
              minlength="6"
              required
            />
          </div>

          <div class="input-container">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date" max="2022-01-01" />
          </div>

          <div class="input-container">
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Domicilio"
              required
            />
          </div>

          <div class="input-container">
            <p>Perfil del usuario:</p>
            <div class="radio-options-container">
              <div class="radio-options">
                <input type="radio" name="profile" value="buy" />
                <label for="profile" class="label-inline">Comprador</label>
              </div>

              <div class="radio-options">
                <input type="radio" name="profile" value="sell" />
                <label for="profile" class="label-inline">Vendedor</label>
              </div>
            </div>
          </div>

          <div class="input-container">
            <p>Categoría de interés</p>
            <div class="checkbox-options-container">
              <div class="checkbox-options">
                <input type="checkbox" name="categories" value="electro" />
                <label class="label-inline">Electro</label>
              </div>

              <div class="checkbox-options">
                <input type="checkbox" name="categories" value="moda" />
                <label class="label-inline">Moda</label>
              </div>

              <div class="checkbox-options">
                <input type="checkbox" name="categories" value="hogar" />
                <label class="label-inline">Hogar</label>
              </div>

              <div class="checkbox-options">
                <input type="checkbox" name="categories" value="toys" />
                <label class="label-inline">Juguetería</label>
              </div>

              <div class="checkbox-options">
                <input type="checkbox" name="categories" value="healthlife" />
                <label class="label-inline">Vida sana</label>
              </div>
            </div>
          </div>

          <div class="input-container">
            <label for="photo">Foto de usuario</label>
            <input type="file" name="photo" />
          </div>

          <div class="input-container">
            <label for="pwd">Password:</label>
            <input type="password" name="pwd" id="pwd" required />
          </div>

          <div class="input-container">
            <label for="cpwd">Confrimar password:</label>
            <input type="password" name="cpwd" id="cpwd" required />
          </div>

          <div class="input-container-button">
            <button type="submit" value="submit">Enviar</button>
            <button type="reset">Borrar</button>
          </div>
        </form>
      </section>

      <section class="product-container">
        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>

        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>

        <article class="product">
          <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
          <h2>Galaxy S10</h2>
        </article>
      </section>
    </main>

    <!--Footer-->
    <%- include ('../partials/footer') %>
  </body>
</html>
